body {
	/*background-image: url(../images/marvelimage.jpg);*/
	background-image: url(http://cdn.wallpapersafari.com/23/42/EFent2.jpeg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: black;
}

* {
	box-sizing: border-box;
	font-family: 'Permanent Marker', Helvetica;
}

.subHeader {
	margin-top: -30px;
}

.info {
	font-size: 15px;
	line-height: 14px;
	margin-bottom: 30px;
}

.theForm {
	margin-top: 60px;
	text-align: center;
	font-size: 24px;
	background-color: white;
	padding: 10px;
	vertical-align: middle;
	border-radius: 3px;
	border: 6px solid red;
}

h3 {
	margin-top: 1px;
	text-shadow: 2px 2px red;
	font-size: 40px;
}

input {
	border: 3px solid red;
	border-radius: 3px;
	height: 40px;
}

button {
	border: 3px solid red;
	background-color: white;
	border-radius: 3px;
	height: 40px;
}

button:hover {
	background-color: red;
	color: white;
}

.theResults {
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
	background-color: white;
	border-radius: 3px;
}

.heroName {
	color: red;
	font-size: 22px;
}

.heroWords {
	width: 100%;
	text-align: center;
	color: black;
	font-size: 13px;
	/*margin-left: 70px;
	margin-bottom: 5px;*/
	padding-right: 40px;
	padding-left: 40px;
}

.heroImage {
	width: 300px;
	height: 230px;
}

.js-query,
.js-button {
	font-size: 20px;
}

.prev,
.next {
	font-size: 13px;
}

.invisible {
	display: none;
}
